
*, ::after, ::before {
  box-sizing: border-box;
}

.logo {
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  margin: 10px;
  color: #222F34;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show >.nav-link {
  color: #465450;
  font-weight: bold;
}

.fixed-top {
  position: absolute;
}

a.nav-link:hover {
  color: #1BAB87;
}
/* .navbar-collapse {
  background: #F4F2F1;
} */


/* ul.navbar-nav.ml-auto {
  background: #F4F2F1;
  opacity: .8;
} */

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #425550;
  font-size: 2rem;
  font-weight: bold;
}

h4{
  font-family: medium;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #425550;
}

p {
   margin-top: 0;
   margin-bottom: 1rem;
   color: #90A09B;
   font-family: 'Open Sans', sans-serif;
}

.view {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  color: #1BAB87;
  background-color:none;
}


.view:hover {
  background-color: white;
  color: #3A8B88;
  text-decoration: none;
}

.footer {
  /* background-color: #f7f7f7; */
  margin-top: 20px;
  width: 100%;
}

.m-0 text-center {
  color: #444555;
  text-decoration: none;
}

a {
  color: #444555;
}

.social-icon-container {
  text-align:center !important;

}
.social-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}

a.social-icon {
  display: inline-block !important;
  margin:40px 40px;
  padding:20px;

}
.photo-cell img {
  width:98%;
  display: block;
  margin-bottom: 100px;
}

.graphic {
  display: block;
  margin: auto;
  max-width: 1200px;
  padding-right: 3%;
  padding-left: 3%;
}


@media only screen and (max-width: 990px) {
  .navbar-collapse {
    background-color: #F4F2F1;
    opacity: .8;
  }
}


@media only screen and (min-width: 650px) {

.main-content{
    margin-top: 150px;
}
.main-content-home{
    margin-top: 130px;
}

.img-container img{
    width: 60%;
    margin: 5% 20%;
}

/* .photo-grid {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
} */

}

@media only screen and (min-width: 1100px){
    .main-content{
        margin-top: 100px;
    }
    .main-content-home{
        margin-top: 75px;
    }


    @media only screen and (min-width: 450px){
        /*photo gallery*/
        .photo-grid{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
        .photo-cell{
            width: 47.5%;
        }
        .landscape{
            width: 98%
        }
    }


    @media only screen and (min-width: 800px){
      .img-container{
        width: 45%;
    }
    .img-container img{
        width: 75%;
        margin: 0;
    }
    .photo-cell{
     width: 22.75%;
 }
 .landscape{
     width: 47.5%;
 }
}
